.border1{
    
      background: rgba(0, 0, 0, 0.6);
  }
  .pad-border{
  
      padding: 10px 40px;
  
  }
  .pad-heading{
      padding-top:30px; 
      padding-bottom:30px; 
      color: white;
      font-size: 2em;
      color: #fff;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-weight: 700;
  
  }
  .img-head{
      padding-top:20px; 
      padding-bottom:5px; 
      color: white;
      font-size: 2.5em;
      color: #fff;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-weight: 700;
  }
  body{
      background-color: #2f2f2f;
     
      font-family: 'Roboto', sans-serif;
  }
  label{
      color: white;
  }
  
  .img-pad{
      margin-top: 15%;
  }
  .btn-pad{
      padding-left: 10px;
      padding-right:10px; 
  }
  .footer-line{
      letter-spacing: 4px;
      padding-top: 15px;
      color: white;
      
  }
  a{
      color: white;
      
  
  }
  a:hover{
      color: #B99D4C;
      
  
  }
  .div1 {
     /*  background-image: url(../images/makkah2.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%; */
      background: url(../images/makkah2.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  .pad_email{


    padding:20px 0px; 
  }

  .pad_pass{
    
    
        padding:10px 0px; 
      }

      
.p-red{
    color: red !important;
}